@keyframes rotate360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* animation du disc flottant */
  .image {
    height: 120px;
    position: fixed;
    bottom: 80px;
    right:30px;
    margin: auto;
    animation: rotate360 7s linear infinite;
  }