body {
    color: white;
    font-family: Arial, sans-serif;
    background-color: #111;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body{
    font-family: Kanit;
}

body article {
    width: 800px;
    max-width: 90%;
    margin: 30px auto;
    padding: 30px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
}

@media (max-width: 600px) {
    body article {
        width: 90%;
        margin: 10px auto;
        padding: 15px;
    }
}

body article img {
    margin: 20px auto;
    float: right;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    height: auto;
    max-width: 100%;
}

.submenu_members{
    border: 2px solid white;
    list-style: none;
    width:40%;
    text-align:center;
}
li {
    color:white;
    margin-right:10px;
}
